body{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #d9d9d9;
    height: 98vh;
    width: 400px;
    padding: 13px;
    margin: auto;
}
main{
    border: 100vh;
    margin: 13px;
    background-color:#efefef;
    border-radius: 18px;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    width: 169px;
}
button {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: none;
    margin: 2px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(252, 249, 249);

}
#First{
    display: flex;

}
.btn-func{
    color: black;
    background-color: rgb(211, 208, 208);
}
.btn-ope{
    color: rgb(248, 244, 244);
    background-color: grey;
}
.btn-igual{
    background-color: rgb(67, 240, 67);
    color: rgb(248, 244, 244);
}